body{
    text-align: center;
    margin: 0;
}
.heading{
    background-color: cadetblue;
    font-size: 4rem;
    margin: 0;
    padding: 20px 0px 15px;
    text-align: center;
    
}

p{
    font-size: 2rem;
}
h1{
    font-size: 3rem;
}
.info{
    background-color: darkgrey;
    padding: 10px;
}
li{
    font-size: 2rem;
}